.login-container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #FFC107;
    text-align: center;
    border-radius: 10px;
    background: white;
  }
  
  .login-container h2 {
    color: #333;
  }
  
  .login-container input {
    width: 90%;
    padding: 10px;
    margin: 10px 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-container button {
    width: 100%;
    padding: 10px;
    background: #FFC107;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .login-container button:hover {
    background: #ff9800;
  }
  